.page {
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: start;
    justify-items: start;
    min-height: 100svh;
    padding: 80px;
    gap: 80px;
    font-family: var(--font-geist-sans);
}

.header {
    padding: 80px 0;
    background-color: transparent;
    text-align: start;
    font-size: 2rem;
    font-weight: bold;
    color: #D77A61;
    padding-bottom: 80px;
}

.description {
    padding: 40px 0;
    background-color: transparent;
    text-align: start;
    font-size: 1rem;
    color: #D77A61;
}

.catImage {
    border-radius: 8px;
    max-width: 100%;
    display: block;
    margin: 20px auto;
}

.logo {
    border-radius: 8px;
    max-width: 100%;
    display: block;
    margin: 5px;
}