name: "build"
on:
  workflow_run:
    workflows: ["test"]
    types:
      - completed
    push:
      branches:
        - main
    pull_request:
      branches:
        - main

jobs:
  build-frontend:
    runs-on: [self-hosted, linux, ARM64] 
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker cleanup
        run: |
          docker rmi frontend:build-latest

      - name: Build frontend
        run: |
          docker build -t frontend:build-latest -f Dockerfile.frontend .

  build-backend:
    runs-on: [self-hosted, linux, ARM64] 
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker cleanup
        run: |
          docker rmi backend:build-latest

      - name: Build backend
        run: |
          docker build -t backend:build-latest -f Dockerfile.backend .
