name: "deploy"
on:
  workflow_run:
    workflows: ["build"]
    types:
      - completed
  pull_request:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, linux, ARM64] 
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Docker compose stop
        run: |
          docker compose stop -t 10
      
      - name: Docker backend deploy
        run: |
          if [[ -n $(docker images -q backend:latest) ]]; then
            docker container prune -f
            docker rmi backend:latest
          fi
          docker tag backend:build-latest backend:latest

      - name: Docker frontend deploy
        run: |
          if [[ -n $(docker images -q frontend:latest) ]]; then
            docker container prune -f
            docker rmi frontend:latest
          fi
          docker tag frontend:build-latest frontend:latest

      - name: Docker compose start
        run: |
          docker compose up -d
