name: "test"
on:
  workflow_run:
    workflows: ["lint"]
    types:
      - completed
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  backend-unit-tests:
    runs-on: [self-hosted, linux, ARM64] 
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install uv
        run: |
          if ! command -v uv 2>&1 >/dev/null; then
            curl -LsSf https://astral.sh/uv/install.sh | sh
          fi

      - name: Use venv
        run: |
          if [ ! -d ".venv" ]; then
            uv venv
          fi
          source .venv/bin/activate
      
      - name: Run tests
        run: |
          cd backend
          uv run python manage.py test
